body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

a:hover {
  color: #666666;
}
